:root {
  --main-font-family: 'Open Sans';

  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #585858;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
}

body {
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--black);
  overflow: hidden;
}

#exampleModalLabel,
#modalText,
#staticBackdropLabel {
  /* color: var(--darkendGreen) !important; */
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin: auto;
}

.modal-body li {
  color: var(--darkGray);
  font-size: 1.2rem;
  line-height: 1.4 !important;
  margin-top: 15px;
}

.game-message {
  font-size: 1.5rem;
  padding: 0.4em 0.6em;
  border-radius: 0.3em;
  color: var(--darkGray);
  font-weight: 700;
}

.animate-message {
  background-color: var(--white);
  animation: animateMessage 1s ease-in-out;
}

@keyframes animateMessage {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.game-title {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title h1 {
  text-align: center;
  font-size: 2.2rem;
  flex-grow: 1;
}

.game-title i {
  font-size: 2.2rem;
  cursor: pointer;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(59, 59, 59);
  margin: 0;
}

.game-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.row {
  display: flex;
  gap: 4px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid rgb(59, 59, 59);
  font-weight: 700;
  font-size: 1.5rem;
}

.scaleTile {
  animation: scaleTile 0.6s;
}

@keyframes scaleTile {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    border: 1px solid rgb(216, 213, 213);
  }

  100% {
    transform: scale(1);
  }
}

.keyboard-container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.keyboard-container button {
  width: 43px;
  height: 58px;
  margin: 4px;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  background-color: var(--gray);
  cursor: pointer;
}

.keyboard-container button:hover {
  background-color: var(--lightGray);
}

.keyboard-container button:nth-child(11) {
  margin-left: 30px;
}

.keyboard-container button:nth-child(20),
.keyboard-container button:nth-child(28) {
  width: 68px;
}

.greenClr,
.yellowClr,
.greyClr {
  animation: flip 1.2s;
}

.greyClr {
  background-color: var(--darkGray) !important;
  cursor: not-allowed !important;
}

.yellowClr {
  background-color: var(--yellow) !important;
}

.greenClr {
  background-color: var(--green) !important;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
