:root {
  --main-font-family: 'Open Sans';

  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #585858;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
}

body {
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--black);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-title {
  margin: 20px;
}

.game-title h1 {
  text-align: center;
}

.game-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--white);
}

.keyboard-container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.keyboard-container button {
  width: 43px;
  height: 58px;
  margin: 4px;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  background-color: var(--gray);
  cursor: pointer;
}

.keyboard-container button:focus {
  background-color: var(--gray);
}

.keyboard-container button:nth-child(11) {
  margin-left: 30px;
}

.keyboard-container button:nth-child(20),
.keyboard-container button:nth-child(28) {
  width: 68px;
}

.greyClr {
  background-color: var(--darkGray) !important;
}
.yellowClr {
  background-color: var(--yellow) !important;
}
.greenClr {
  background-color: var(--green) !important;
}
